BODY {
COLOR: #000000;
LINK: #0000FF;
ALINK: #BEBEBE;
VLINK: #191970;
BACKGROUND: #D3D3D3;
BGPROPERTIES: fixed;
FONT-SIZE: 18pt;
FONT-FAMILY: Times News Roman, Arial, Euvetica, Verdana;
text-indent: 1cm;
}

#va UL {
    padding:0px;
    margin:0px;
    list-style:none;
float:right;
width:30%;
background-color: #FFFFFF;
color: #00BFFF;
BGPROPERTIES: fixed;
}

H1 {
FONT-SIZE: 26pt;
FONT-FAMILY: Lucida Calligraphy, Verdana, Euvetica, Arial;
COLOR: ;
ALIGN: Center;
}

H2 {
FONT-SIZE: 20pt;
FONT-FAMILY: Arial, Euvetica, Times News Roman;
COLOR: #8A2BE2;
ALIGN: Center;
}

#menu UL {
            padding:0px;
    margin:0px;
    background-color: #006400;
color: #FFFFFF;
    list-style: none;
float: left;
width: 150px;
BGPROPERTIES: fixed;
}

#menu UL LI {
position: relative;
}

li ul {
        position: absolute;
        left: 149px;
        top: 0;
        display: none;
        }

#menu UL LI A {
    padding: 2px 10px;
    display: block;
    background-color: #006400;
    color: #FFFFFF;
    text-decoration: none;
    border-bottom:3px solid #EDEDED;
}

#menu UL LI A:HOVER {
    background-color: #006400;
    color:  #FFFFFF;
    border-bottom:3px solid #EA0000;<nav id="menu">
}

UL {
    padding:0px;
    margin:0px;
    list-style:none;
float:left;
width:100%;
BGPROPERTIES: fixed;
}

#infotecsos DIV {
text-align: right;
text-indent: 2 cm;
font-family: elvetica, sans-serif, arial, robots, time news roman;
font-size: 12pt;
background-color: #FFFFFF;
color: #FF0000;
BGPROPERTIES: fixed;
}

#lv UL {
    padding: 0px;
    margin: 0px;
    list-style: none;
float: center;
width: 100%;
BGPROPERTIES: fixed;
}

IFRAME {
Text-align: right;
