html {
    scroll-behavior: smooth;
}

BODY {
    padding: 0%;
    margin: 0%;
    COLOR: #000;
    BACKGROUND: #D3D3D3;
    FONT-SIZE: larger;
    font-family: Impact, Haettenschweiler, sans-serif;
    text-indent: 1cm;
}

a {
    text-decoration: unset;
}

#va UL {
    list-style: none;
    background-color: #FFF;
    color: rgb(40, 20, 10);
}

.topo {
    font-size: medium;
    font-family: Haettenschweiler, sans-serif;
    text-align: center;
}

.cabecalho {
    FONT-SIZE: larger;
    font-family: Haettenschweiler, sans-serif;
    COLOR: darkblue;
}

h1 {
    font-size: 35pt;
    font-family: Verdana, Tahoma, sans-serif, Impact, Haettenschweiler;
}

H2 {
    font-size: medium;
    font-family: Impact, Haettenschweiler, sans-serif;
    COLOR: #8A2BE2;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.menu UL {
    padding: 0px;
    margin: 0px;
    background-color: #006400;
    color: #FFFFFF;
    list-style: none;
}

#menu UL LI A:HOVER {
    background-color: #006400;
    color: #FFFFFF;
    border-bottom: 3px solid #EA0000;
}

UL {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.buscar-google {
    display: flex;
    justify-content: space-between;
}

main {
    padding: 20%;
}